* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Baloo Tammudu 2", cursive;
}

h1 {
  padding: 1rem;
  text-decoration: underline overline;
}

.player-options {
  display: flex;
  flex-direction: row;
  height: 30%;
  margin: 2rem;
  padding: 2rem;
}

.option {
  padding: 1rem;
  margin: auto;
  background-color: rgb(125, 156, 196);
  font-weight: bold;
  width: 20%;
  font-size: 20px;
  border: none;
  border-radius: 0.5rem;
}

.option:hover {
  /* transform: scaleX(1.1); */
  transform: scale(1.1);
  background-color: rgb(214, 131, 54);
}

#results {
  font-size: 30px;
  color: brown;
  padding-bottom: 4rem;
}

#score-board {
  display: flex;
  flex-direction: row;
  background-color: rgb(125, 156, 196);
  justify-content: space-between;
  padding: 4rem;
}

.category {
  display: flex;
  flex-direction: column;
  width: 60%;
}

#computer {
  color: rgb(170, 78, 3);
  text-shadow: 5px 5px 10px black;
  font-size: 50px;
}

#player {
  color: blue;
  text-shadow: 5px 5px 10px rgb(253, 252, 252);
  font-size: 50px;
}
